[core]
        pager = less -FXRS
        whitespace = tab-in-indent

[color]
        ui = true
[alias]
        lll = log --graph --oneline --decorate --all
        ll = log --graph --oneline --decorate
[push]
	default = current
[alias]
	private = "!git config user.name 'Alexander Wingård'; git config user.email alexander.wingard@gmail.com"
	work = "!git config user.name 'Alexander Wingård'; git config user.email alexander.wingard@ericsson.com"
