[core]
        pager = less -FXRS
        whitespace = tab-in-indent

[color]
        ui = true
[alias]
        lll = log --graph --oneline --decorate --all
        ll = log --graph --oneline --decorate
